<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Локальная БД Разработчик" connectionString="Data Source=.;Initial Catalog=Documents2011;Integrated Security=True;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  
  <add name="Локальная БД Администратор" connectionString="Data Source=.;Initial Catalog=Documents2011;Integrated Security=false;User Id=LocalAdmin;Password=12345;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="Web БД Разработчик" connectionString="Data Source=winsrv;Initial Catalog=Documents2011;Integrated Security=false;User Id=Admin;Password=15987;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="Web БД Администратор" connectionString="Data Source=winsrv;Initial Catalog=Documents2011;Integrated Security=false;User Id=LocalAdmin;Password=12345qwert~;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>

  <add name="Локальная БД Супер пользователь" connectionString="Data Source=.;Initial Catalog=Documents2011;Integrated Security=false;User Id=sUser;Password=12345;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="Локальная БД Управление продажами" connectionString="Data Source=.;Initial Catalog=Documents2011;Integrated Security=false;User Id=tradeUser;Password=12345;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="Локальная БД Услуги" connectionString="Data Source=.;Initial Catalog=Documents2011;Integrated Security=false;User Id=servUser;Password=12345;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="Локальная БД Учет договоров" connectionString="Data Source=.;Initial Catalog=Documents2011;Integrated Security=false;User Id=dogovorUser;Password=12345;Application Name=&quot;Documents System 2010&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>

  <add name="SRV-DEVEL Разработчик" connectionString="Data Source=SRV-DEVEL;Initial Catalog=Documents2011;Integrated Security=True;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="SRV-DEVEL Администратор" connectionString="Data Source=SRV-DEVEL;Initial Catalog=Documents2011;Integrated Security=false;User Id=LocalAdmin;Password=12345;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="SRV-DEVEL БД Супер пользователь" connectionString="Data Source=SRV-DEVEL;Initial Catalog=Documents2011;Integrated Security=false;User Id=sUser;Password=12345;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="SRV-DEVEL Управление продажами" connectionString="Data Source=SRV-DEVEL;Initial Catalog=Documents2011;Integrated Security=false;User Id=tradeUser;Password=12345;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="SRV-DEVEL Услуги" connectionString="Data Source=SRV-DEVEL ;Initial Catalog=Documents2011;Integrated Security=false;User Id=servUser;Password=12345;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="SRV-DEVEL Учет договоров" connectionString="Data Source=SRV-DEVEL;Initial Catalog=Documents2011;Integrated Security=false;User Id=dogovorUser;Password=15987;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="SRV-DEVEL Обмен данными" connectionString="Data Source=SRV-DEVEL;Initial Catalog=Documents2011A;Integrated Security=True;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>


  <add name="SRV-SQL09 Администратор" connectionString="Data Source=SRV-SQL09;Initial Catalog=Documents2011;Integrated Security=false;User Id=LocalAdmin;Password=12345;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="SRV-SQL09 Разработчик (win)" connectionString="Data Source=SRV-SQL09;Initial Catalog=Documents2011;Integrated Security=True;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>
  <add name="SRV-SQL09 Разработчик (sql)" connectionString="Data Source=SRV-SQL09;Initial Catalog=Documents2011;Integrated Security=false;User Id=Admin;Password=2232456;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>


  <add name="SRV-DEVDOC Разработчик (win)" connectionString="Data Source=SRV-DEVDOC;Initial Catalog=Documents2011DMPZ;Integrated Security=True;Application Name=&quot;Documents System 2011&quot;;Current Language=Russian" providerName="System.Data.SqlClient"/>

</connectionStrings>