<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="StarterWpf.Properties.Settings.Server1" connectionString="Data Source=.;Initial Catalog=Documents2011;Integrated Security=True;Connect Timeout=5" />
      <add name="StarterWpf.Properties.Settings.Server3" connectionString="Data Source=srv-devel;Initial Catalog=Documents2011;Integrated Security=True;Connect Timeout=5" />
      <add name="StarterWpf.Properties.Settings.Server2" connectionString="Data Source=srv-sql09;Initial Catalog=Documents2011;Integrated Security=True;Connect Timeout=5" />  
    </connectionStrings>
</configuration>